@import "tailwindcss";

@theme {
  /* Основные цвета */
  --color-info: #52526e;

  /* Фоновые цвета */
  --color-bar-bg: #0d0d18; /* Для боковой панели */
  --color-section-bg: #13131f; /* Для секций/карточек */
  --color-main-bg: #07070f; /* Для основного фона */
  --color-brand-dark: #13131f;
}
